<!DOCTYPE html>
<html>

<head>
  <style>
    .container {
      margin: 40px 20px;

    }
  </style>
  <title>{{title}}</title>

  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css" />
  <link rel='stylesheet' href='/css/style.css' />
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/fontawesome-all.css" />
  <link rel="stylesheet" href="/css/AdminLTE.min.css" />
</head>

<body>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/Popper.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/moment.min.js"></script>
  <script src="/js/bootstrap-datetimepicker.min.js"></script>
  <script src="/js/Chart.js"></script>
  <script src="/js/AdminLTE.min.js"></script>
  {{> header1}}
  <div class="container">
    {{{body}}}
  </div>

</body>

</html>